:root {
    --max-width: 1280px;
    --min-width:320px;
    --accent-color:#00C2FF;
}

* {box-sizing: border-box;}

html, body {
    height: 100;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

* {
    text-decoration: none;
    color: white;
}

.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   min-width: var(--min-width);
   background-image: url('../HTMLS/maxresdefault.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
